body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.2rem;
}
* {
  box-sizing: border-box;
}

a {
  color: #23acda;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #36b4df;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #343a40;
  padding: 1.5rem 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__zeddrix-fabian {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.main-nav__zeddrix-fabian:hover {
  color: white;
}

/* .main-nav {
  display: none;
} */

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-weight: lighter;
}

.main-nav__item a {
  font-size: 1.3rem;
  margin: 0 0.75rem;
  color: #29b1df;
  font-weight: lighter;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 0;
  color: #48d1ff;
}

.introduction {
  text-align: center;
  border: 2px solid black;
  padding: 10em 0;
  margin: 1em;
  border-radius: 10px;
}
.introduction__name {
  font-family: "Architects Daughter";
  font-size: 3em;
}
.introduction__description {
  font-size: 1.3em;
  margin: 1em 20em;
}
.introduction__image {
  width: 15%;
}
.introduction__subscribe {
  border: 2px solid black;
  padding: 0.3em;
  margin: 0.5em;
  border-radius: 5px;
  font-size: 1.5em;
  background: black;
  color: white;
}

.introduction__subscribe:hover,
.introduction__subscribe:focus {
  border: 2px solid grey;
  background: white;
  color: black;
}

.projects,
.hobbies {
  text-align: center;
}
.projects__header,
.hobbies__header {
  text-align: center;
  font-size: 3em;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;
  border-radius: 10px;
}
.projects__header {
  background: grey;
}
.hobbies__header {
  background: yellowgreen;
}

.projects__card {
  margin: 5em 3em;
}
.hobbies__card {
  margin: 1em;
  display: inline-block;
  width: 45%;
  vertical-align: top;
}
.projects__card,
.hobbies__card {
  border: 1px solid #00000033;
  border-radius: 10px;
}
.projects__card__image,
.hobbies__card__image {
  width: 100%;
}

.projects__card__name {
  text-align: center;
  font-size: 3rem;
  margin: 0.2em 0;
}

.hobbies__card__name {
  text-align: center;
  font-size: 2em;
}

.projects__card__description,
.hobbies__card__description {
  text-align: left;
  padding: 0 1em;
  font-size: 1.3em;
}

.projects__card__code-source {
  color: #d36a7c;
}

.projects__card__work-in-progress {
  font-size: 0.5em;
  color: grey;
}
