body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
* {
	box-sizing: border-box;
}
a {
	color: rgb(26, 140, 179);
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
	color: rgb(48, 160, 197);
}

#navbar {
	background-color: #343a40;
	padding-right: 2em;
}
#navbar__zeddrix-fabian {
	display: inline-block;
	text-align: left;
	margin: 0.6em 1em;
	font-size: 1.5em;
	color: white;
}
.navbar__right {
	display: inline-block;
	text-align: right;
	text-decoration: none;
	color: rgb(35, 190, 182);
	float: right;
	padding-top: 1.1em;
	padding-bottom: 1.2em;
	padding-right: 1em;
	font-size: 1.1em;
}
#navbar a {
	color: rgb(26, 140, 179);
}
#navbar a:hover,
#navbar a:focus {
	text-decoration: none;
	border-bottom: 1px solid white;
	padding-bottom: 0;
	color: rgb(67, 194, 236);
}

#introduction {
	text-align: center;
	border: 2px solid black;
	padding: 10em 0;
	margin: 1em;
	border-radius: 10px;
}
#introduction__image {
	width: 15%;
}

#projects,
#hobbies {
	text-align: center;
}
#projects__header,
#hobbies__header {
	text-align: center;
	font-size: 3em;
	margin-top: 3em;
	margin-left: 3em;
	margin-right: 3em;
	padding: 1em;
	border-radius: 10px;
}
#projects__header {
	background: grey;
}
#hobbies__header {
	background: yellowgreen;
}

.projects__card {
	margin: 5em 3em;
}
.hobbies__card {
	margin: 1em 5em;
	display: inline-block;
	width: 30%;
}
.projects__card,
.hobbies__card {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 1em;
}
.projects__card__image,
.hobbies__card__image {
	width: 100%;
}

.projects__card__name,
.hobbies__card__name {
	text-align: center;
}

.projects__card__description,
.hobbies__card__description {
	text-align: left;
}
