body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.2rem;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

h1 {
  margin: 0;
}

a {
  color: #23acda;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #36b4df;
}

.main-header {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #343a40;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#backdrop {
  background: #00000099;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.main-nav__zeddrix-fabian,
.mobile-nav__zeddrix-fabian {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-nav__zeddrix-fabian {
  align-self: flex-start;
}

.main-nav__zeddrix-fabian:hover {
  color: white;
}

.main-nav,
.main-nav__zeddrix-fabian {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-weight: lighter;
}

.main-nav__item a,
.mobile-nav__item a {
  color: #29b1df;
  font-weight: lighter;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  text-decoration: none;
  padding-bottom: 0;
  color: #48d1ff;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 4px;
  background: whitesmoke;
  display: block;
  margin: 7px 0;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.intro {
  margin-top: 10vh;
  height: 35vh;
  width: 100vw;
  background: url(../img/intro-image.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
}
.intro-contents {
  /* border: 5px solid white; */
  height: 35vh;
  width: 55vw;
  left: 1rem;
  display: flex;
  flex-flow: column wrap;
  /* flex-direction: column;
	flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  position: absolute;
}
.intro-contents__name {
  font-family: "Architects Daughter";
}
/* .intro-contents__description {
  font-size: 1.3em;
} */
.intro-contents__subscribe {
  font-size: 1em;
  border: 2px solid lightgrey;
  width: 8rem;
  padding: 0.3em;
  margin: 0.5em;
  border-radius: 10px;
  background: black;
  color: white;
}

.intro-contents__subscribe:hover {
  background: lightgrey;
  color: black;
  border: 2px solid black;
}
.intro-contents__subscribe:active,
.intro-contents__subscribe:focus {
  background: white;
  color: black;
  border: 2px solid black;
}

.projects,
.hobbies {
  text-align: center;
}
.projects__header,
.hobbies__header {
  text-align: center;
  font-size: 3em;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;
  border-radius: 10px;
}
.projects__header {
  background: grey;
}
.hobbies__header {
  background: yellowgreen;
}

.projects__card {
  margin: 5em 3em;
}
.hobbies__card {
  margin: 1em;
  display: inline-block;
  width: 45%;
  vertical-align: top;
}
.projects__card,
.hobbies__card {
  border: 1px solid #00000033;
  border-radius: 10px;
}
.projects__card__image,
.hobbies__card__image {
  width: 100%;
}

.projects__card__name {
  text-align: center;
  font-size: 3rem;
  margin: 0.2em 0;
}

.hobbies__card__name {
  text-align: center;
  font-size: 2em;
}

.projects__card__description,
.hobbies__card__description {
  text-align: left;
  padding: 0 1em;
  font-size: 1.3em;
}

.projects__card__code-source {
  color: #d36a7c;
}

.projects__card__work-in-progress {
  font-size: 0.5em;
  color: grey;
}
